@{ ViewBag.Title = "Index"; }
<h2>Crud Operation using Web API, Ajax, Json and Angular</h2>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Angular/myAngular.js"></script>

<div ng-app="Homeapp">
    <div ng-controller="MyFirstController">
        <label>Enter Box Hight/Width</label>
        <input type="text" ng-model="hw" />
        <select ng-model="color">
            <option>red</option>
            <option>blue</option>
            <option>yellow</option>
            <option>green</option>
        </select>
        <div style="height:{{hw}}px;width:{{calculateWidth()}}px;background-color:{{color}};"></div>
        <ol>
            <li ng-repeat="x in countries">{{x}}</li>
        </ol>
    </div>
</div>