@{ ViewBag.Title = "Index"; }
<h2>Angular Js Practice</h2>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Angular/myAngular.js"></script>

<div ng-app="Homeapp">
    <div ng-controller="MyFirstController">
        {{"Url is "+url}}<br/>
        {{"Protocol is "+protocol}}<br/>
        {{"Port is "+port}}<br/>
        {{"Host is "+host}}<br/>
    </div>
</div>